# Review Question #

In [1]:
#1
def cube(number):
    return number ** 3


print(cube(2))   
print(cube(3))    
print(cube(-4))   
print(cube(1.5))

8
27
-64
3.375

In [2]:
#2
def greet(name):
    print(f"Hello {name}!")
greet("Ryu")

Hello Ryu!

# CHALLENGE: CONVERT TEMPERATURES #

In [3]:
#1
def convert_cel_to_far(celsius):
    return (celsius * 9/5) + 32

print(convert_cel_to_far(0))    
print(convert_cel_to_far(100))  
print(convert_cel_to_far(-40))

32.0
212.0
-40.0

In [4]:
def convert_far_to_cel(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

def convert_cel_to_far(celsius):
    return (celsius * 9 / 5) + 32


f = float(input("Enter a temperature in degrees F: "))
c = convert_far_to_cel(f)
print(f"{f} degrees F = {c:.2f} degrees C\n")


c = float(input("Enter a temperature in degrees C: "))
f = convert_cel_to_far(c)
print(f"{c} degrees C = {f:.2f} degrees F")

Enter a temperature in degrees F:  72

72.0 degrees F = 22.22 degrees C

Enter a temperature in degrees C:  37

37.0 degrees C = 98.60 degrees F

# Review Question #

In [5]:
#1
for i in range(2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [6]:
#2
num = 2
while num <= 10:
    print(num)
    num += 1

2
3
4
5
6
7
8
9
10

In [7]:
#3
def doubles(number):
    return number * 2

num = 2

for _ in range(3):
    num = doubles(num)
    print(num)

4
8
16